//colors
$dkgrey: #333 !default;


//Controls
$control-main-bgcolor: $dkgrey !default;
$control-main-font-color: white !default;

$control-sub-bgcolor: $dkgrey !default;
$control-sub-font-color: white !default;

$statusbar-bgcolor: #ddd !default;
$statusbar-font-color: #999 !default;

$btn-icon-border-radius: 4px !default;
$btn-icon-border-width: 1px !default;
$btn-icon-border-color: $dkgrey !default;
$btn-icon-width: 42px !default;
$btn-icon-height: 42px !default;
$btn-icon-background: $dkgrey !default;
$btn-icon-color: white !default;

$btn-icon-hover-background: #555 !default;
$btn-icon-hover-border-color: #ccc !default;
